# pillow
pillow==10.3.0

# hashime
hashime @ git+https://github.com/sakhezech/hashime@1e8e441d667a774a388f54f3b1faa8848f22da06

# yt-dlp
Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
mutagen==1.47.0
pycryptodomex==3.20.0
requests==2.31.0
urllib3==2.2.1
websockets==12.0
yt-dlp==2024.4.9
